{% extends 'shortner/base.html' %}

{% block title %}Shortner - Home{% endblock title %}

{% block content %}
    <h1>Create short url</h1>
    <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit URL">
    </form>
{% endblock content %}
