{% extends 'shortner/base.html' %}

{% block title %}Shortner - URL details{% endblock title %}

{%  block content %}
    <p>Submitted by: {{ shorten_url.owner.first_name }} {{ shorten_url.owner.last_name }}</p>
    <p>Shorten url token: {{ shorten_url.short_url }}</p>
    <p>Redirect to: {{ shorten_url.original_url }}</p>
    <p>Number of views: {{ shorten_url.views_counter }}</p>
{%  endblock content %}
